@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* The old color was rgb(0, 201, 23) */

* {
    z-index: 1;
}

body {
    display: flex;
    flex-flow: row wrap;
    
    font-family: 'Luckiest Guy', cursive;

    justify-content: center;
}

/*#background-image {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;

    background-image: url("/images/FLLC\ 17393\ Logo.png");
    opacity: 10%;
}*/

.note-button, .control-button {
    border-radius: 100%;
    border-style: none;
    margin: 15px;

    /*background-color: rgb(14, 223, 133);*/
    background-color: rgb(223, 14, 202);
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.note-button:hover {
    cursor: pointer;
    /*background-color: #00b700;*/
    box-shadow: 1px 1px 15px 30px rgb(220, 255, 240);
}


.note-text, .note-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 10vh;

    color: white;
}
#quartrest {
    display: block;
}
#quartrest .note-text {
    font-size: 5vh;
    line-height: 0.8em;
}
#quartrest img {
    height: 7vh;
}

#note-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;
    
    border: 5px solid rgb(14, 223, 133);
    border-radius: 3px;
    padding: 20px;
    margin: 20px;

    margin-bottom: -5px;
}

#logo {
    height: 400px;
    margin: 50px;
}

.break {
    height: 0;
    flex-basis: 100%;
}

#composition {
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    color: black;
    line-height: 115px;
}

#composition-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;

    border: 5px solid rgb(14, 223, 133);
    border-radius: 3px;
    padding: 20px;
    margin: 20px;

    margin-top: 0px;
}

/* .control-button {
    border-radius: 100%;
    border-style: none;
    margin: 15px;

    font-family: 'Luckiest Guy', cursive;
    font-size: 6em;

    background-color: rgb(14, 223, 133);
    color: white;

    width: 20vh;
    height: 20vh;
} */

.control-button:hover {
    cursor: pointer;

    /*background-color: #00b700;*/
    box-shadow: 1px 1px 15px 30px rgb(220, 255, 240);
}

#rest-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;

    border: 5px solid rgb(14, 223, 133);
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
}


.link-button {
    text-decoration: none;
    border-bottom: 3px solid rgb(14, 223, 133);
    padding-bottom: 0px;
    margin: 5vw;
    color: rgb(14, 223, 133);
}

.link-button:hover {
    padding-bottom: 1px;
    border-bottom: 3px solid rgb(14, 223, 133);

    cursor: pointer;
}

input {
    padding: 8px;
    background-color: white;
    color: rgb(14, 223, 133);
    font-family: 'Luckiest Guy', cursive;
    border: 3px solid rgb(14, 223, 133);
}

input:focus {
    outline: none;
    background-color: rgb(14, 223, 133);
    color: white;
}

p {
    color: black;
}

label[for="load-input"] {
    color: black;
    margin-right: 10px;
    user-select: none;
}

#composition-save-text-div {
    display: flex;
    align-items: center;

    border-left: 3px dashed rgb(14, 223, 133);
    padding-left: 10px;
    height: 20vh;
}
/* 
.icon-button {
    font-size: 6em;
} */


.with-add-icon .note-text {
    font-size: 3.3em;
    line-height: 1.2;
}