@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* The old color was rgb(0, 201, 23) */

:root {
    --prettygreen: rgb(14, 223, 133);
}

* {
    z-index: 1;
}

body {
    display: flex;
    flex-flow: row wrap;
    
    font-family: 'Luckiest Guy', cursive;
    background-color: white;

    justify-content: center;
}

/*#background-image {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;

    background-image: url("/images/FLLC\ 17393\ Logo.png");
    opacity: 10%;
}*/

.note-button, .control-button {
    border-radius: 100%;
    box-shadow: 3px 5px 7px gray;
    border-style: none;
    margin: 15px;

    /*background-color: var(--prettygreen);*/
    /*background-color: rgb(223, 14, 202);*/
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.control-button, .with-add-icon:not(#quartrest) {
    background-color: var(--prettygreen);
}

.note-button:active, .control-button:active {
    /*background-color: #00b700;*/
    box-shadow: 1px 1px 15px 30px rgb(220, 255, 240);
}

.note-button:hover, .control-button:hover {
    cursor: pointer;
}

#c4-note {
    background-color: rgb(255, 68, 0);
}

#d4-note {
    background-color: rgb(255, 149, 0);
}

#e4-note {
    background-color: rgb(0, 184, 9);
}

#f4-note {
    background-color: rgb(52, 197, 255);
}

#g4-note {
    background-color: rgb(0, 190, 184);
}

#a5-note {
    background-color: rgb(29, 122, 119);
}

#b5-note {
    background-color: rgb(147, 147, 255);
}

#quartrest {
    background-color: rgb(232, 147, 255);
}

.note-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 90px;

    color: white;
}

#note-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;
    
    border: 5px solid var(--prettygreen);
    border-radius: 3px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: -5px;
}

/* #note-button-container:hover {
    border: 5px solid var(--prettygreen);
} */

#logo {
    height: 400px;
    margin: 50px;
}

.break {
    height: 0;
    flex-basis: 100%;
}

#composition {
    font-family: 'Luckiest Guy', cursive;
    font-size: 100px;
    color: black;
    line-height: 115px;
}

.beginning-of-composition-display {
    user-select: none;
}

#composition-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;

    border: 5px solid var(--prettygreen);
    border-radius: 3px;
    padding: 20px;
    margin: 20px;

    margin-top: 0px;
}

/* #composition-container:hover {
    border: 5px solid var(--prettygreen);
} */

/* .control-button {
    border-radius: 100%;
    border-style: none;
    margin: 15px;

    font-family: 'Luckiest Guy', cursive;
    font-size: 6em;

    background-color: var(--prettygreen);
    color: white;

    width: 20vh;
    height: 20vh;
} */

#clear-button {
    background-color: red;
}

#rest-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;

    border: 5px solid var(--prettygreen);
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
}

.icon-text-button {
    font-size: 4em;
    line-height: 0.8em;
}

.link-button {
    text-decoration: none;
    border-bottom: 3px solid var(--prettygreen);
    padding-bottom: 0px;
    margin: 5vw;
    color: var(--prettygreen);
}

.link-button:hover {
    padding-bottom: 1px;
    border-bottom: 3px solid var(--prettygreen);

    cursor: pointer;
}

input {
    padding: 8px;
    background-color: white;
    color: var(--prettygreen);
    font-family: 'Luckiest Guy', cursive;
    border: 3px solid var(--prettygreen);
}

input:focus {
    outline: none;
    background-color: var(--prettygreen);
    color: white;
}

p {
    color: black;
}

label[for="load-input"] {
    color: black;
    margin-right: 10px;
    user-select: none;
}

#composition-save-text-div {
    display: flex;
    align-items: center;

    border-left: 3px dashed var(--prettygreen);
    padding-left: 10px;
    height: 20vh;
}

.icon-text {
    font-size: 7.5em;
}

.with-add-icon .note-text {
    font-size: 3.3em;
    line-height: 1.2;

    padding-bottom: 2.5vh;
}

.svg-symbol {
    height: 60px;
    margin-bottom: 0px;
}

#share-button .note-text {
    font-size: 40px;
}

#share-button .svg-symbol {
    height: 50px;
}

#quartrest .note-text {
    line-height: 0.8;

    font-size: 45px;
}

.scroll-button {
    background-color: rgb(14, 223, 133);
    color: white;
    border: 2px solid rgb(0, 131, 125);
    
    height: 100px;
    width: 100px;
    font-size: 80px;
    border-radius: 100px;

    position: fixed;
    right: 20px;
}

#scroll-down-button {
    bottom: 20px;
}

#scroll-up-button {
    top: 20px;
}